
ShareCenterExample.xcodeproj/project.xcworkspace/xcuserdata/ygcurer.xcuserdatad/UserInterfaceState.xcuserstate

ShareCenterExample.xcodeproj/project.xcworkspace/xcuserdata/ygcurer.xcuserdatad/WorkspaceSettings.xcsettings

ShareCenterExample.xcodeproj/xcuserdata/ygcurer.xcuserdatad/xcschemes/ShareCenterExample.xcscheme

ShareCenterExample.xcodeproj/xcuserdata/ygcurer.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ShareCenterExample.xcodeproj/xcuserdata/ygcurer.xcuserdatad/xcschemes/xcschememanagement.plist
